﻿@model EcommerceSite.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Category Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category's Master
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterCategory.Name)
        </dd>

        <dt>
            Parent Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>

        <dt>
            Category Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { @class="btn btn-primary"})
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-info" })
</p>
