﻿@model EcommerceSite.Models.UserInfo

@{
    ViewBag.Title = "CartDetails";
    Layout = "~/Views/Shared/_LayoutPageForUser.cshtml";
}

<h2>Buy Details</h2>

<div class="row">
    <div class="col-md-12">

        <h4>Buy Result</h4>
        <hr />
        <table>
            <tr>
                <td> Email Or Phone :</td>
                <td>&nbsp;@Html.DisplayFor(model => model.EmailOrPhone)</td>
            </tr>
            <tr>
                <td>Name :</td>
                <td>&nbsp; @Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>Gander :</td>
                <td>&nbsp; @Html.DisplayFor(model => model.Gander)</td>
            </tr>
            <tr>
                <td>Profession :</td>
                <td>&nbsp;@Html.DisplayFor(model => model.Profession)</td>
            </tr>
            <tr>
                <td>Birth Day :</td>
                <td>&nbsp;@Html.DisplayFor(model => model.DateOfBirth)</td>
            </tr>
            <tr>
                <td>Address :</td>
                <td>&nbsp;@Html.DisplayFor(model => model.Address)</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <h4>Item Details</h4>
        <table class="table table-bordered table-condensed table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CartProducts != null && Model.CartProducts.Count > 0)
                {
                    foreach (var item in Model.CartProducts)
                    {
                        <tr>
                            <td>
                                @if (item.Image != null)
                                {
                                    string base64Image = Convert.ToBase64String(item.Image);
                                    string Image = string.Format("data:image/gif;base64,{0}", base64Image);
                                    <img src="@Image" width="100" height="100" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>

                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td><b>Total :</b></td>
                        @{
                            decimal sum = 0;
                            foreach (var item in Model.CartProducts)
                            {

                                sum = sum + item.Price * (decimal)item.Qty;
                            }
                            <td>
                                <b>
                                    @(sum)
                                </b>
                            </td>
                        }
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="3">Your cart is empty</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
