﻿@model IEnumerable<EcommerceSite.Models.Product>

@{
    ViewBag.Title = "CompareFoodProducts";
    Layout = "~/Views/Shared/_LayoutPageForUser.cshtml";
}

<h2>Compare Food Products</h2>
<p>
    @Html.ActionLink("Reset List", "ResetCompareFoodProductList", "AddToCarts", null, new { @class = "btn btn-sm btn-primary" })
</p>
@if (Model != null && Model.Count() > 0)
{
<table class="table table-bordered table-condensed table-striped table-responsive List-table ">
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Image)</b>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @if (item.Image != null)
                {
                    string base64Image = Convert.ToBase64String(item.Image);
                    string Image = string.Format("data:image/gif;base64,{0}", base64Image);
                    <img src="@Image" width="250" height="300" />
                }

            </td>
        }

    </tr>
    <tr>
        <td>
            <b>Product Name</b>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

        }

    </tr>
    <tr>
        <td>
            <b>Brand Name</b>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
        }
    </tr>
    <tr>
        <td>
            <b>Type Name</b>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
        }
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Feature)</b>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Feature)
            </td>

        }
    </tr>
    <tr>
        <td>
            <b> @Html.DisplayNameFor(model => model.Description)</b>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        }
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Price)</b>
        </td>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        }
    </tr>
</table>
}
else
{
    <h3 style="color:red">List is empty. You need to add first</h3>
}

