﻿@model EcommerceSite.Models.WomansProduct

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Product Details</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row vertical-align">
                <div class="col-xs-6">
                    @if (Model.Image != null)
                    {
                        string base64Image = Convert.ToBase64String(Model.Image);
                        string Image = string.Format("data:image/gif;base64,{0}", base64Image);
                        <img class="img-responsive img-thumbnail img-rounded" src="@Image" width="450" height="450" />
                    }
                    <div class="form-group" style="margin-top:5px">
                        <a class="btn btn-block btn-info" href="@Url.Action("CategoryByWoman","Categories")">Back</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <table class="table table-responsive">
                        <tr>
                            <td><h4>Product Name</h4></td>
                            <td><h4>@Html.DisplayFor(model => model.Name)</h4></td>
                        </tr>
                        <tr>
                            <td><h4>Brand Name</h4></td>
                            <td><h4>@Html.DisplayFor(model => model.Brand.Name)</h4></td>
                        </tr>
                        <tr>
                            <td><h4>Product Size</h4></td>
                            <td><h4>@Html.DisplayFor(model => model.Size.SizeTitle)</h4></td>
                        </tr>
                        <tr>
                            <td><h4>Product Colour</h4></td>
                            <td><h4>@Html.DisplayFor(model => model.Colour.ColourName)</h4></td>
                        </tr>
                        <tr>
                            <td><h4>@Html.DisplayNameFor(model => model.Description)</h4></td>
                            <td><h4>@Html.DisplayFor(model => model.Description)</h4></td>
                        </tr>
                        <tr style="color:darkgreen">
                            <td><h4><b>@Html.DisplayNameFor(model => model.Price)</b></h4></td>
                            <td><h4><b>@Html.DisplayFor(model => model.Price)</b></h4></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
