﻿@model IEnumerable<EcommerceSite.Models.MasterCategory>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListByCommonUser</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BDBuy.Store", "ListByCommonUser", "MasterCategories", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model)
                    {
                        <li>
                            @*href="@Url.Action("GetById", "MasterCategories", new { id = item.Id })"*@
                            @*@Html.ActionLink()*@
                            <input type="button" class="btn" id="GetSearchingId" data-masterId="@item.Id" value="@Html.DisplayFor(modelItem => item.Name)" />
                        </li>
                    }
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" />
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">LogIn</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="TestDiv"></div>

    <div class="container body-content">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div id="SearchingContent">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Browse</h3>
                        </div>
                        <div class="panel-body">
                            @foreach (var item in Model)
                            {
                                foreach (var cat in item.Categories)
                                {
                                    <ul>
                                        <li>
                                            <a>@Html.DisplayFor(modelItem => cat.Name)</a>
                                        </li>
                                    </ul>
                                }
                                break;
                            }
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Brand</h3>
                        </div>
                        <div class="panel-body">
                            @foreach (var item in Model)
                            {
                                foreach (var cat in item.Categories)
                                {
                                    foreach (var bran in cat.Brands)
                                    {
                                        <ul>
                                            <li>
                                                <a>@Html.DisplayFor(modelItem => bran.Name)</a>
                                            </li>
                                        </ul>
                                    }
                                }
                                break;
                            }
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Type</h3>
                        </div>
                        <div class="panel-body">
                            @foreach (var item in Model)
                            {
                                foreach (var cat in item.Categories)
                                {
                                    foreach (var type in cat.Types)
                                    {
                                        <ul>
                                            <li>
                                                <a>@Html.DisplayFor(modelItem => type.Name)</a>
                                            </li>
                                        </ul>
                                    }
                                }
                                break;
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Products By Type</h3>
                    </div>
                    <div class="panel-body">
                        @foreach (var item in Model)
                        {
                            foreach (var cat in item.Categories)
                            {
                                foreach (var type in cat.Types)
                                {
                                    foreach (var product in type.Products)
                                    {


                                        <ul>
                                            <li>
                                                <a>@Html.DisplayFor(modelItem => product.Name)</a>
                                            </li>
                                        </ul>
                                    }
                                }
                                break;
                            }
                            break;
                        }
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ProjectScripts/MasterCategory/GetSearchContent.js"></script>
</body>
</html>
