﻿@model EcommerceSite.Models.Size

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Master Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterCategory.Name)
        </dd>

        <dt>
            Size Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
