﻿@model EcommerceSite.Models.ViewModel.RegistrationVm
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bdbuy.store| Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Theme/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Theme/plugins/iCheck/square/blue.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="~/Theme/index2.html"><b>Bdbuy</b>.store</a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Create your account</p>
            @using (Html.BeginForm(new { htmlAttributes = new { action = "~/Theme/index.html", method = "post" } }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { placeholder = "Full Name", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.EmailOrPhone, new { htmlAttributes = new { placeholder = "Email Or Phone", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailOrPhone, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { placeholder = "Password", type = "password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.RePass, new { htmlAttributes = new { placeholder = "Rewrite Password", type = "password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RePass, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @{
                        List<SelectListItem> items = new List<SelectListItem>()
                                            {
                                              new SelectListItem() {Text = "Male"},
                                              new SelectListItem() {Text = "Femail"},
                                            };
                    }
                    @Html.DropDownListFor(model => model.Gender, items, "Select Gender", htmlAttributes: new { id = "Gender", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @{
                        List<SelectListItem> items2 = new List<SelectListItem>()
                                     {
                                      new SelectListItem() {Text = "কৃষক"},
                                     };
                    }
                    @Html.DropDownListFor(model => model.Occupation, items2, "Select Profession", htmlAttributes: new { id = "Occupation", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { placeholder = "Birth Day", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @*<input type="checkbox"> আমি <a href="#">শর্তাবলীর</a> সাথে সম্মত*@
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign Up</button>
                    </div>

                    @if (ViewBag.Message != null)
                    {
                        <div class="col-xs-12">
                            <p class="text-danger"> @ViewBag.Message</p>
                        </div>
                    }

                </div>

            }
            <!-- <div class="social-auth-links text-center">
                <p>- অথবা -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i>ফেইছবুক ব্যাবহার করে সাইন আপ
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> গুগল ব্যাবহার করে সাইন আপ
                </a>
            </div>-->
            <a href="@Url.Action("LogIn","Accounts")" class="text-center">I have an account</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery 3 -->
    <script src="~/Theme/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>
